<%= link_to 'Strona główna', controller: 'home' %><br>
<%= link_to 'Strona główna', root_path %><br>
<%= link_to 'O mnie', home_about_path %><br>
<h1>O mnie</h1>
<p>Nazywam się Marcin i jestem twórcą tej aplikacji</p>

